/*CSS GENERAL*/


/*CSS NAVBAR THOMAS*/
.tom-nav-pipe {
    padding-top: 8px;
}

/*CSS CAROUSSEL KEVIN*/

.carousel-item {
    height: 25rem;
    width: 100%;
    height: 35rem;
}

.carousel-caption, h5 {
    color: orangered;
    font-size: 3rem;
    bottom: 55%;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
}

/*CSS CATEGORIES JEAN MICHEL */
  #categories .card:hover  p {
  display:contents;
  background-color: white; 
}

#categories .card:hover img{
  opacity: 0.4;
}

#categories .card  p {
  display:none;
}

#categories .card-title{
  background-color: rgb(250,250,250,0.8);
  border-radius: 5px;
}

#categories{
	background-color: #ffc107;
}


/* CSS ABOUT US JEAN DANIEL*/

.biere {
    max-width: 100%;
    height: auto;
}

.jd-card {
    background-image: url("asset/img/jd/light-veneer.png");
}

.card-header {
    text-align: center;
}

/*CSS TOP VENTES QUENTIN*/

/*CSS FOOTER NOEL*/
