/*CSS GENERAL*/
section {
  margin-bottom: 15px;
}

/*CSS NAVBAR THOMAS*/
.tom-nav-pipe {
  padding-top: 8px;
}
.tom-white-text{
  color: white;
}

@media only screen and (max-width: 800px) {
  .tom-invisible {
    opacity: 0;
  }
  .tom-go-right{
    text-align: center;
  }

}

/*CSS CAROUSSEL KEVIN*/
.kev-carousel-item {
  height: 25rem;
  width: 100%;
  height: 35rem;
}

.kev-carousel-caption  {
    color: orangered;
    font-size: 4rem;
    bottom: 40%;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
}
.khtopic {
    color: orangered;
    font-size: 4rem;
    bottom: 55%;
    text-shadow: 5px 5px 5px black;
    font-weight: bold;
}

/*CSS CATEGORIES JEAN MICHEL */
#categories .card:hover p {
  display: contents;
  background-color: white;
}

#categories .card:hover img {
  opacity: 0.4;
}

#categories .card p {
  display: none;
}

#categories .card-title {
  background-color: rgb(250, 250, 250, 0.8);
  border-radius: 5px;
}

#categories {
  background-color: #ffc107;
}

/* CSS ABOUT US JEAN DANIEL*/
.biere {
  max-width: 100%;
  height: auto;
}

.jd-card {
  background-image: url("asset/img/jd/light-veneer.png");
}

.card-header {
  text-align: center;
}

/*CSS TOP VENTES QUENTIN*/
/*CSS FOOTER NOEL*/
.logofooter{
    width: 60%;
}